<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Principal balance</th>
      <th>Interest rate</th>
      <th>Days to maturity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.principal_balance %></td>
        <td><%= loan.interest_rate %></td>
        <td><%= loan.days_to_maturity %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
		