<p>
  <strong>Project name:</strong>
  <%= @loan_inquiry_detail.project_name %>
</p>

<p>
  <strong>Damage type:</strong>
  <%= @loan_inquiry_detail.damage_type %>
</p>

<p>
  <strong>Organization type:</strong>
  <%= @loan_inquiry_detail.organization_type %>
</p>

<p>
  <strong>Damaged address:</strong>
  <%= @loan_inquiry_detail.damaged_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @loan_inquiry_detail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @loan_inquiry_detail.state %>
</p>

<p>
  <strong>Insured:</strong>
  <%= @loan_inquiry_detail.insured %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @loan_inquiry_detail.revenue %>
</p>

<p>
  <strong>Estimated loss:</strong>
  <%= @loan_inquiry_detail.estimated_loss %>
</p>

<p>
  <strong>Headcount:</strong>
  <%= @loan_inquiry_detail.headcount %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @loan_inquiry_detail.industry %>
</p>

<p>
  <strong>Date established:</strong>
  <%= @loan_inquiry_detail.date_established %>
</p>

<p>
  <strong>Previous bankruptcy:</strong>
  <%= @loan_inquiry_detail.previous_bankruptcy %>
</p>

<p>
  <strong>Bankruptcy count:</strong>
  <%= @loan_inquiry_detail.bankruptcy_count %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @loan_inquiry_detail.mailing_address %>
</p>

<%= link_to 'Edit', edit_loan_inquiry_detail_path(@loan_inquiry_detail) %> |
<%= link_to 'Back', loan_inquiry_details_path %>
	